apiVersion: v1
kind: Service
metadata:
  name: vulhub-api-service
  labels:
    app: vulhub-api
    component: api
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 4000
    protocol: TCP
    name: http
  selector:
    app: vulhub-api
    component: api
